<p>{{ 'gj_calculator.allgemein.title_hotel' | t }}:</p>

<div class="container-gj-calc" id="container-gj-calc">
  <div class="nav-gj-calc">
    <div class="nav-button-gj-calc nav-button-gj nav-button-gj-calc-active" id="hotel" style="border-left:unset;">
      {{ 'gj_calculator.allgemein.hotel' | t }}
    </div>
    <div class="nav-button-gj-calc nav-button-gj" id="fitness">
      {{ 'gj_calculator.allgemein.fitnessstudio' | t }}
    </div>
    <div class="nav-button-gj-calc nav-button-gj" id="betrieb">
      {{ 'gj_calculator.allgemein.betrieb' | t }}
    </div>
    <div class="nav-button-gj-calc nav-button-gj" id="bad">
      {{ 'gj_calculator.allgemein.bad' | t }}
    </div>
  </div>

  <div class="user-input-gj-calc">
    <h6>{{ 'gj_calculator.allgemein.inputs' | t }}</h6>
    <!-- Input from user -->
    <br>
    <div class="gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label for="shower">{{ 'gj_calculator.allgemein.duschen' | t }}</label>
      </div>
      <div class="shower-container">
        <div class="shower-modifier" id="minus-modi">-</div>
        <div><input type="text" name="shower" id="shower" value="70" size="1" class="user-input"></div>
        <div class="shower-modifier" id="plus-modi">+</div>
      </div>
    </div>
    <div class="gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label>{{ 'gj_calculator.allgemein.anschluss' | t }}</label>
      </div>
      <div class="checkbox-gj-calc gj-anschluesse">
        <div class="checkbox-option-gj-calc" id="checkbox_wrapper_connection1">
          <div>
            <label class="checkbox-label-gj-calc" for="connection1"
              ><img src="https://cdn.shopify.com/s/files/1/0633/5778/0153/files/Brausekopf.svg" alt="Brausekopf"
            ></label>
          </div>
          <div>
            <label class="checkbox-label-gj-calc" id="checkbox_connection1" for="connection1">
              {{- 'gj_calculator.allgemein.brausekopf' | t -}}
            </label>
          </div>
        </div>
        <div class="checkbox-option-gj-calc" id="checkbox_wrapper_connection2">
          <div>
            <label class="checkbox-label-gj-calc" for="connection2"
              ><img src="https://cdn.shopify.com/s/files/1/0633/5778/0153/files/Regendusche_1.svg" alt="Regendusche"
            ></label>
          </div>
          <div>
            <label class="checkbox-label-gj-calc" id="checkbox_connection2" for="connection2">
              {{- 'gj_calculator.allgemein.regendusche' | t -}}
            </label>
          </div>
        </div>
        <input
          type="checkbox"
          name="connection1"
          id="connection1"
          class="user-input-checkbox user-input-checkbox-all"
          checked
        >
        <input type="checkbox" name="connection2" id="connection2" class="user-input-checkbox user-input-checkbox-all">
      </div>
    </div>

    <div class="gj-calc-mobile-wrapper" id="utilization-container">
      <div class="user-input-description">
        <label for="utilization">{{ 'gj_calculator.allgemein.auslastung' | t }}</label>
      </div>
      <div class="range-wrap">
        <input type="range" class="range user-input" id="utilization" name="utilization" min="30" max="100" value="70">
        <output class="bubble"></output>
      </div>
    </div>
    <br>
    <br>

    <div class="gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label id="user-input-description-hotel" for="person">{{ 'gj_calculator.allgemein.personen_2' | t }}</label>
        <label id="user-input-description-fitness" for="person">{{ 'gj_calculator.allgemein.besucher' | t }}</label>
      </div>
      <div class="range-wrap">
        <input type="range" class="range user-input" id="person" name="person" min="1" max="3" step="0.1" value="1.7">
        <output class="bubble"></output>
      </div>
    </div>
    <br>
    <br>
    <!-- QUIIIIII (no mobile) -->
    <div class="user-input-description gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label for="fuel">{{ 'gj_calculator.heizmittel.title' | t }}</label><br>
      </div>
      <div class="custom-select-gj-calc" id="custom-select-gj-calc-id">
        <span id="select-option-gj-calc"></span>
      </div>
      <div id="custom-select-gj-calc-personalized-settings-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-gear-fill"
          viewBox="0 0 16 16"
        >
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
      </div>
    </div>

    <div id="custom-select-gj-calc-params" class="calculation-explanation">
      <style>
        .gj-pers-editable > b{
          border: 1px black;
          background: white;
          padding: 0.6em;
          margin-left: 1em;
        }

        .gj-pers-editable > input {
          width: 25%;
          display: inline;
          text-align: right;
          background: white;
          padding: 0 .4em 0 .4em;
          min-height: 0;
        }

        .gj-pers-editable {
          margin-top: 0.6em;
        }
      </style>
      <div style="text-align: left">
        <span id="expl_fuel"></span><br>
        <span id="pers_fuel_cost" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.energy-cost' | t }}
          <input type="text" value="0"
        ></span>
        <br>
        <br>
        <span id="pers_fuel_co2" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.pollution-rate' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_temp_cold" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.t_cold' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_temp_warm" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.t_warm' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_cost_cold" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.cold-water-circuit' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_cost_waste" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.waste-water-cost' | t }}
          <input type="text" value="0"></span
        ><br>
        <br>

        <span id="pers_shower_duration" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.shower-duration' | t }}
          <input type="text" value="0"></span
        ><br>
        <br>
        <span id="pers_water_rate" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.water-rate' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_greenjet_flow" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.GREENJET-l-min' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <button type="button" id="gj-pers-close-popup" class="checkbox-option-gj-calc">
          {{ 'gj_calculator.personalizzato.close_popup' | t }}
        </button>
      </div>
    </div>

    <div id="select-selected-id"></div>
    <br>
    <div id="calculation_headline">
      <div class="user-input-description">
        <label class="rich_text_button">
          {{- 'gj_calculator.berechnungsgrundlagen.title' | t }}
          <svg
            class="icon-signpost-arrow team__popup-trigger js-btn-item"
            data-modal-action="add"
            data-modal-rel="16568321444d97df25-0"
            href="#"
            aria-hidden="true"
            focusable="false"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
          >
            <path data-modal-action="add" data-modal-rel="16568321444d97df25-0" href="#" fill-rule="evenodd" clip-rule="evenodd" d="M14.7272 5.6364L10.3636 1.27279L11.6364 0L17.2728 5.6364L11.6364 11.2728L10.3636 10L14.7272 5.6364Z" fill="currentColor"></path>      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.73645L16 4.73645L16 6.53645L-1.57361e-07 6.53645L0 4.73645Z" fill="currentColor"></path>
          </svg>
        </label>
      </div>
      <div class="calculation-explanation" id="calculation_explanation">
        <div>
          <span id="expl_fuel"></span><br>
          <span id="expl_fuel_cost"></span><br>
          <span id="expl_fuel_co2"></span><br>
          <br>

          <span id="expl_water_temp_cold"></span><br>
          <span id="expl_water_temp_warm"></span><br>
          <span id="expl_water_cost_cold"></span><br>
          <span id="expl_water_cost_waste"></span><br>
          <div class="info-panel-gj-calc"></div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">
              {{ 'gj_calculator.berechnungsgrundlagen.duschdauer' | t }}
            </div>
            <div class="value-gj-calc">
              <span id="duration"></span>
              <span> {{ 'gj_calculator.berechnungsgrundlagen.minuten' | t }}</span>
            </div>
          </div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">
              {{ 'gj_calculator.berechnungsgrundlagen.wasserdurchfluss' | t }}
            </div>
            <div class="value-gj-calc">
              <span id="flow"></span>
              <span>
                {{ 'gj_calculator.berechnungsgrundlagen.liter' | t }}/
                {{- 'gj_calculator.berechnungsgrundlagen.minuten' | t -}}
              </span>
            </div>
          </div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">GREENJET:</div>
            <div class="value-gj-calc">
              <span id="greenjet_flow"></span>
              <span>
                {{ 'gj_calculator.berechnungsgrundlagen.liter' | t }}/
                {{- 'gj_calculator.berechnungsgrundlagen.minuten' | t -}}
              </span>
            </div>
          </div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">GREENJET:</div>
            <div class="value-gj-calc">
              <span id="greenjet_saving"></span>
              <span> % {{ 'gj_calculator.allgemein.einsparung' | t }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Input from system -->
  <div class="result-gj-calc">
    <h6>{{ 'gj_calculator.result.title' | t }}</h6>
    <br>

    <p>{{ 'gj_calculator.result.jahreseinsparung' | t }}</p>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="amount_saving"></span>
        <span> {{ cart.currency.symbol }}</span>
      </div>
    </div>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="water_saving"></span>
        <span> {{ 'gj_calculator.result.wasser' | t }}</span>
      </div>
    </div>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="co2_saving"></span>
        <span> {{ 'gj_calculator.result.co2' | t }}</span>
      </div>
    </div>

    <p class="anschaffungskosten">{{ 'gj_calculator.result.anschaffung' | t }}</p>

    <div class="info-panel-gj-calc anschaffungskosten">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="price_unit"></span>
        <span> {{ cart.currency.symbol }} / {{ 'gj_calculator.result.stueck' | t }}</span><span id="unit-amount"></span>
        <hr>
      </div>
    </div>

    <div class="info-panel-gj-calc anschaffungskosten">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="price_total"></span>
        <span> {{ cart.currency.symbol }} / {{ 'gj_calculator.result.gesamt' | t }}</span>
      </div>
    </div>
    <br>
    <div class="info-panel-gj-calc">
      <div class="description-gj-calc">
        {{ 'gj_calculator.result.amortisationszeit' | t }}
      </div>
      <div class="value-gj-calc">
        <span id="amotization_time"></span>
      </div>
      <small>
        {{- 'gj_calculator.result.amortisation_satz' | t }}
        <span id="amotization_time_2"></span
      ></small>
    </div>

    <p>{{ 'gj_calculator.result.ersparnis_10j' | t }}</p>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="amotization_amount"></span>
        <span> {{ cart.currency.symbol }}</span>
        <hr>
        <hr>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="container-gj-calc" id="container-gj-calc-mob">
  <div class="nav-gj-calc">
    <div
      class="nav-button-gj-calc nav-button-gj-mob nav-button-gj-calc-active"
      id="hotel-mob"
      style="border-left:unset;"
    >
      {{ 'gj_calculator.allgemein.hotel' | t }}
    </div>
    <div class="nav-button-gj-calc nav-button-gj-mob" id="fitness-mob">
      {{ 'gj_calculator.allgemein.fitnessstudio' | t }}
    </div>
    <div class="nav-button-gj-calc nav-button-gj-mob" id="betrieb-mob">
      {{ 'gj_calculator.allgemein.betrieb' | t }}
    </div>
    <div class="nav-button-gj-calc nav-button-gj-mob" id="bad-mob">
      {{ 'gj_calculator.allgemein.bad' | t }}
    </div>
  </div>
  <div class="user-input-gj-calc">
    <h6>{{ 'gj_calculator.allgemein.inputs' | t }}</h6>
    <!-- Input from user -->
    <br>
    <div class="gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label for="shower">{{ 'gj_calculator.allgemein.duschen' | t }}</label>
      </div>
      <div class="shower-container">
        <div class="shower-modifier" id="minus-modi-mob">-</div>
        <div><input type="text" name="shower" id="shower-mob" value="70" size="1" class="user-input"></div>
        <div class="shower-modifier" id="plus-modi-mob">+</div>
      </div>
    </div>
    <div class="gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label>{{ 'gj_calculator.allgemein.anschluss' | t }}</label>
      </div>
      <div class="checkbox-gj-calc gj-anschluesse">
        <!-- checkbox_wrapper_connection1-mob needed? -->
        <div class="checkbox-option-gj-calc" id="checkbox_wrapper_connection1-mob">
          <div>
            <label class="checkbox-label-gj-calc" for="connection1-mob"
              ><img src="https://cdn.shopify.com/s/files/1/0633/5778/0153/files/Brausekopf.svg" alt="Brausekopf"
            ></label>
          </div>
          <div>
            <label class="checkbox-label-gj-calc" id="checkbox_connection1-mob" for="connection1-mob">
              {{- 'gj_calculator.allgemein.brausekopf' | t -}}
            </label>
          </div>
        </div>
        <div class="checkbox-option-gj-calc" id="checkbox_wrapper_connection2-mob">
          <div>
            <label class="checkbox-label-gj-calc" for="connection2-mob"
              ><img src="https://cdn.shopify.com/s/files/1/0633/5778/0153/files/Regendusche_1.svg" alt="Regendusche"
            ></label>
          </div>
          <div>
            <label class="checkbox-label-gj-calc" id="checkbox_connection2-mob" for="connection2-mob">
              {{- 'gj_calculator.allgemein.regendusche' | t -}}
            </label>
          </div>
        </div>
        <input
          type="checkbox"
          name="connection1-mob"
          id="connection1-mob"
          class="user-input-checkbox-mob user-input-checkbox-all"
          checked
        >
        <input
          type="checkbox"
          name="connection2-mob"
          id="connection2-mob"
          class="user-input-checkbox-mob user-input-checkbox-all"
        >
      </div>
    </div>

    <div class="gj-calc-mobile-wrapper" id="utilization-container-mob">
      <div class="user-input-description">
        <label for="utilization-mob">{{ 'gj_calculator.allgemein.auslastung' | t }}</label>
      </div>
      <div class="range-wrap">
        <input
          type="range"
          class="range user-input"
          id="utilization-mob"
          name="utilization-mob"
          min="30"
          max="100"
          value="70"
        >
        <output class="bubble"></output>
      </div>
    </div>
    <br>
    <br>

    <div class="gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label id="user-input-description-hotel-mob" for="person-mob">
          {{- 'gj_calculator.allgemein.personen_2' | t -}}
        </label>
        <label id="user-input-description-fitness-mob" for="person-mob">
          {{- 'gj_calculator.allgemein.besucher' | t -}}
        </label>
      </div>
      <div class="range-wrap">
        <input
          type="range"
          class="range user-input"
          id="person-mob"
          name="person-mob"
          min="1"
          max="3"
          step="0.1"
          value="1.7"
        >
        <output class="bubble"></output>
      </div>
    </div>
    <br>
    <br>
    <div class="user-input-description gj-calc-mobile-wrapper">
      <div class="user-input-description">
        <label for="fuel">{{ 'gj_calculator.heizmittel.title' | t }}</label><br>
      </div>
      <div class="custom-select-gj-calc" id="custom-select-gj-calc-id-mob">
        <span id="select-option-gj-calc-mob"></span>
      </div>
      <div
        id="custom-select-gj-calc-personalized-settings-icon-mob"
        style="padding: 1em; width: 10%; height:100%"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-gear-fill"
          viewBox="0 0 16 16"
        >
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
      </div>
    </div>
    <div id="select-selected-id-mob"></div>

    <!-- QUIII MOBILE -->
    <div
      id="custom-select-gj-calc-params-mob"
      class="calculation-explanation"
      style="
        right: 0; left:0;
        max-width:60%;
        margin:0 auto;
      "
    >
      <style>
        .gj-pers-editable > input {
          width: 25%;
          display: inline;
          text-align: right;
          background: white;
          padding: 0 .4em 0 .4em;
          min-height: 0;
        }

        .gj-pers-editable {
          margin-top: 0.6em;
        }
      </style>
      <div style="text-align: left">
        <span id="expl_fuel-mob"></span><br>
        <span id="pers_fuel_cost-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.energy-cost' | t }}
          <input type="text" value="0"
        ></span>
        <br>
        <br>
        <span id="pers_fuel_co2-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.pollution-rate' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_temp_cold-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.t_cold' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_temp_warm-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.t_warm' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_cost_cold-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.cold-water-circuit' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_water_cost_waste-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.waste-water-cost' | t }}
          <input type="text" value="0"></span
        ><br>
        <br>

        <span id="pers_shower_duration-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.shower-duration' | t }}
          <input type="text" value="0"></span
        ><br>
        <br>
        <span id="pers_water_rate-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.water-rate' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <span id="pers_greenjet_flow-mob" class="gj-pers-editable">
          {{ 'gj_calculator.personalizzato.GREENJET-l-min' | t }}
          <input type="text" value="0"> </span
        ><br>
        <br>
        <button type="button" id="gj-pers-close-popup-mob" class="checkbox-option-gj-calc">
          {{ 'gj_calculator.personalizzato.close_popup' | t }}
        </button>
      </div>
    </div>

    <br>
    <div id="calculation_headline-mob">
      <div class="user-input-description">
        <label class="rich_text_button">
          {{- 'gj_calculator.berechnungsgrundlagen.title' | t }}
          <svg
            class="icon-signpost-arrow team__popup-trigger js-btn-item"
            data-modal-action="add"
            data-modal-rel="16568321444d97df25-0"
            href="#"
            aria-hidden="true"
            focusable="false"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
          >
            <path data-modal-action="add" data-modal-rel="16568321444d97df25-0" href="#" fill-rule="evenodd" clip-rule="evenodd" d="M14.7272 5.6364L10.3636 1.27279L11.6364 0L17.2728 5.6364L11.6364 11.2728L10.3636 10L14.7272 5.6364Z" fill="currentColor"></path>      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.73645L16 4.73645L16 6.53645L-1.57361e-07 6.53645L0 4.73645Z" fill="currentColor"></path>
          </svg>
        </label>
      </div>
      <div class="calculation-explanation" id="calculation_explanation-mob">
        <div>
          <span id="expl_fuel-mob"></span><br>
          <span id="expl_fuel_cost-mob"></span><br>
          <span id="expl_fuel_co2-mob"></span><br>
          <br>

          <span id="expl_water_temp_cold-mob"></span><br>
          <span id="expl_water_temp_warm-mob"></span><br>
          <span id="expl_water_cost_cold-mob"></span><br>
          <span id="expl_water_cost_waste-mob"></span><br>
          <div class="info-panel-gj-calc"></div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">
              {{ 'gj_calculator.berechnungsgrundlagen.duschdauer' | t }}
            </div>
            <div class="value-gj-calc">
              <span id="duration-mob"></span>
              <span> {{ 'gj_calculator.berechnungsgrundlagen.minuten' | t }}</span>
            </div>
          </div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">
              {{ 'gj_calculator.berechnungsgrundlagen.wasserdurchfluss' | t }}
            </div>
            <div class="value-gj-calc">
              <span id="flow-mob"></span>
              <span>
                {{ 'gj_calculator.berechnungsgrundlagen.liter' | t }}/
                {{- 'gj_calculator.berechnungsgrundlagen.minuten' | t -}}
              </span>
            </div>
          </div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">GREENJET:</div>
            <div class="value-gj-calc">
              <span id="greenjet_flow-mob"></span>
              <span>
                {{ 'gj_calculator.berechnungsgrundlagen.liter' | t }}/
                {{- 'gj_calculator.berechnungsgrundlagen.minuten' | t -}}
              </span>
            </div>
          </div>

          <div class="info-panel-gj-calc">
            <div class="description-gj-calc">GREENJET:</div>
            <div class="value-gj-calc">
              <span id="greenjet_saving-mob"></span>
              <span> % {{ 'gj_calculator.allgemein.einsparung' | t }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Input from system -->
  <div class="result-gj-calc">
    <h6>{{ 'gj_calculator.result.title' | t }}</h6>
    <br>

    <p>{{ 'gj_calculator.result.jahreseinsparung' | t }}</p>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="amount_saving-mob"></span>
        <span> €</span>
      </div>
    </div>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="water_saving-mob"></span>
        <span> {{ 'gj_calculator.result.wasser' | t }}</span>
      </div>
    </div>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="co2_saving-mob"></span>
        <span> {{ 'gj_calculator.result.co2' | t }}</span>
      </div>
    </div>

    <p class="anschaffungskosten">{{ 'gj_calculator.result.anschaffung' | t }}</p>

    <div class="info-panel-gj-calc anschaffungskosten">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="price_unit-mob"></span>
        <span> {{ cart.currency.symbol }} / {{ 'gj_calculator.result.stueck' | t }}</span
        ><span id="unit-amount-mob"></span>
        <hr>
      </div>
    </div>

    <div class="info-panel-gj-calc  anschaffungskosten">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="price_total-mob"></span>
        <span> {{ cart.currency.symbol }} / {{ 'gj_calculator.result.gesamt' | t }}</span>
      </div>
    </div>
    <br>
    <div class="info-panel-gj-calc">
      <div class="description-gj-calc">
        {{ 'gj_calculator.result.amortisationszeit' | t }}
      </div>
      <div class="value-gj-calc">
        <span id="amotization_time-mob"></span>
      </div>
      <small>
        {{- 'gj_calculator.result.amortisation_satz' | t }}
        <span id="amotization_time_2-mob"></span
      ></small>
    </div>

    <p>{{ 'gj_calculator.result.ersparnis_10j' | t }}</p>

    <div class="info-panel-gj-calc">
      <div class="description-gj-calc"></div>
      <div class="value-gj-calc">
        <span id="amotization_amount-mob"></span>
        <span> {{ cart.currency.symbol }}</span>
        <hr>
        <hr>
      </div>
    </div>
    <br>
  </div>
</div>

<p style="padding-top:50px;">{{ 'gj_calculator.allgemein.termin' | t }}</p>
<a class="button" href="/pages/contact">{{ 'gj_calculator.allgemein.termin_button' | t }}</a>
