<div class="container yv-new-arrival-wrapper">
  <div class="row no-gutters align-items-center">
     {%- liquid 
      		assign collection = section.settings.collection
          	assign collectionImage = collection.featured_image
        	if section.settings.collection_image != blank
      		assign collectionImage = section.settings.collection_image
      		endif 
      -%}
    {% comment %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-5">
     
      <div class="yv-new-arriavl-imgbox wow fadeInUp" data-wow-duration="0.8s" data-wow-offset="10" >
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="small-trigger-element">
          {%- if collectionImage -%}
          {%- render 'lazy-image' image: collectionImage, width: '700x' -%}
          {%- else -%}
              {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          <div class="yv-new-arriavl-content">
            {%- if section.settings.collection_heading != blank -%}
            <h4>{{- section.settings.collection_heading -}}</h4>
            {%- elsif collection != blank -%}
            <h4>{{- collection.title -}}</h4>
            {%- endif -%}
            {%- if section.settings.collection_desc -%}
            <p>{{- section.settings.collection_desc -}}</p>
            {%- elsif collection != blank -%}
            <p>{{- collection.description | truncatewords: 20 | strip_html -}}</p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="col-12 {% comment %}col-sm-6 col-md-6 col-lg-7{% endcomment %}">
      <div class="yv-new-arrival-sliderbox">
        <div class="yv-new-arrival-slider-header">
          <h6 class="heading-subtitle wow fadeInUp">{{ section.settings.subheading }}</h6>
          <h2 class="heading-title wow fadeInRightBig" data-wow-duration="0.8s"	data-wow-delay="0.1s">
            <span class="textFadeIn">
              <span class="wow fadeInLeftBig" data-wow-duration="0.8s" data-wow-delay="0.2s">{{ section.settings.heading }}</span>
            </span>
          </h2>
        </div>
        {%- liquid
        		assign enableSlider = false
        		if collection != blank and collection.products.size > 4
        		assign enableSlider = true
        		elsif collection == blank
        		assign enableSlider = true
        		endif 
        -%}
        <div class="yv-new-arriavl-slider" {% if enableSlider and section.settings.products_count > 4 %}
             data-flickity-slider='{"wrapAround":true,
                                   "cellAlign": "left",
                                   "dragThreshold":true,
                                   "contain": true,
                                   "prevNextButtons": true,
                                   "touchVerticalScroll": false,
                                   "pageDots": false,
                                   "arrowShape":"M36.7,76.9c1.9,1.4,1.9,3.8,0,5.7c-0.6,0.6-1.6,0.9-2.8,0.9c-0.9,0-1.9-0.3-2.8-0.9L2.2,52.8 c-1.9-1.4-1.9-4.3,0-5.7L30,18.3c1.4-1.4,3.8-1.4,5.2,0c1.9,1.4,1.9,4.3,0,5.7L10.2,50L36.7,76.9z M95.2,46.2c1.9,0,3.8,1.9,3.8,4.3 c0,2.4-1.9,3.8-3.8,3.8H13c-2.4,0-3.8-1.4-3.8-3.8c0-2.4,1.4-4.3,3.8-4.3H95.2z"}'{% endif %}
              tabindex="0" data-desktop-only>
          {%- if collection.products.size > 0 -%}
          {% liquid 
            assign delay = 0.1
            for product in collection.products limit: section.settings.products_count
              assign productFormId = 'product-form-' | append : section.id | append : forloop.index | append : '-' | append : collection.handle
              assign mainClass='xsmall-product-card'
              assign animationAttr = ' data-wow-duration="1s" data-wow-delay="' | append: delay | append: 's"'  
              render 'product-grid' product: product, productFormId : productFormId, productClasses: mainClass , imageSize : '255x', animationAttr: animationAttr
              assign delay = delay | plus: 0.3
            endfor -%}
          {% else %}

           {% assign delay = 0.1 %} 
          {%- for i in (1..section.settings.products_count) -%}
          <div class="yv-product-card xsmall-product-card">
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="{{ delay }}s">
            <div class="yv-product-card-img ">          
              {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="yv-product-information">
              <div class="yv-product-information__wrapper">
                <span class="yv-product-title">{{ 'onboarding.product_title' | t | capitalize }}</span>
                <div class="yv-prizebox">
                  <span class="yv-product-price">{{ 1999 | money }}</span>
                </div>
              </div>
            </div>
            </div>
          </div>
           {% assign delay = delay | plus: 0.3 %} 
          {%- endfor -%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}.shopify-section {
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{ section.id }}.shopify-section{
      padding-top:{{ section.settings.top_space_mobile }}px;
      padding-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "new-arrival-section",
  "settings": [
   {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_count",
      "min": 3,
      "max": 15,
      "step": 1,
      "label": "t:sections.featured-collection.settings.products_count.label",
      "default": 5
    },
    {
        "type": "header",
        "content": "t:common.header.text_section.label"
    }, 
    {
      "type": "text",
      "id": "heading",
      "default": "All Products",
      "label": "t:sections.featured-collection.settings.heading.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Add Featured Collection here",
      "label": "t:sections.featured-collection.settings.subheading.label"
    },
    {
        "type": "header",
        "content": "t:common.header.custom_section.label"
    }, 
    {
      "type": "image_picker",
      "id": "collection_image",
      "label": "t:sections.featured-collection.settings.collection_image.label",
      "info": "t:sections.featured-collection.settings.collection_image.info"
    },
    {
      "type": "text",
      "id": "collection_heading",
      "label": "t:sections.featured-collection.settings.collection_heading.label"
    },
    {
      "type": "textarea",
      "id": "collection_desc",
      "label": "t:sections.featured-collection.settings.collection_desc.label"
    },
    {
        "type": "header",
        "content": "t:common.header.space_section.label"
    }, 
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}