<div class="container">
  <div class="password-section-wrapper">
    <div class="password-section-content">
      <a href="{{ routes.root_url }}" class="password-logo-content">
        {%- if section.settings.logo_pw != blank -%}
        {%- assign image_2x_size = section.settings.logo_max_width | times: 2 | at_most: 2560 -%}
        <img srcset="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }} 1x, {{ section.settings.logo_pw | image_url: width: image_2x_size }} 2x"
             src="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }}"
             loading="lazy"
             class="true lazyload no-js-hidden Yuva-logo"
             width="{{ section.settings.logo_max_width }}"
             height="{{ section.settings.logo_max_width | divided_by : section.settings.logo_pw.aspect_ratio | round }}"
             alt="{{ section.settings.logo_pw.alt | default: shop.name | escape }}"
             >
        {% else %}
        <span>{{ shop.name }}</span>
        {% endif %}
      </a>
      {% if section.settings.heading %}
      <h1>{{ section.settings.heading | escape }}</h1>
      {% else %}
      <h1>{{ 'general.password_page.opening_soon' | t }}</h1>
      {% endif %}
      {% if section.settings.newsletter_title %}
      <p class="desc">{{ section.settings.newsletter_title | escape }}</p>
      {% endif %}
      {% if section.settings.show_newsletter %}
      {% form 'customer' %}
      {% if form.posted_successfully? %}
      <span class="form__message success-text" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
        {{ 'newsletter.success' | t }}
      </span>
      {% endif %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="form-group">
        <label class="" for="contact[email]">{{ 'newsletter.label' | t }}</label>
        <input class="form-control" type="email" name="contact[email]" 
               id="Email"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off"
               placeholder="{{ 'newsletter.label' | t }}"
               value="{{ form.email }}"
               {% if form.errors %}
               autofocus
               aria-invalid="true"
               aria-describedby="Newsletter-error--{{ section.id }}"
               {% elsif form.posted_successfully? %}
               aria-describedby="Newsletter-success--{{ section.id }}"
               {% endif %}
               required>
      {%- if form.errors -%}
      <span class="newsletter-form__message form__message error-text" id="Newsletter-error--{{ section.id }}" autofocus>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
      {%- endif -%}
      </div>         
      <button type="submit" name="commit" class="button black-btn btn-block">
        {{ 'newsletter.button_label' | t }}
      </button>
      
      {% endform %}
      {% endif %}
      {% if section.settings.show_social_share %}
      {% render 'social-media-icons' %}
      {% endif %}
     {%- if shop.password_message != blank -%}
        <div class="password-content">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "templates": [
    "password"
  ],
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_pw",
      "label": "t:sections.password-section.settings.logo_pw.label",
      "info": "110 x 36px recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 400,
      "step": 20,
      "unit": "px",
      "label": "t:sections.password-section.settings.logo_max_width.label",
      "default": 200
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.password-section.settings.heading.label",
      "default": "Opening soon"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "t:sections.password-section.settings.show_newsletter.label",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "t:sections.password-section.settings.newsletter_title.label",
      "default": "Find out when we open"
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "label": "t:sections.password-section.settings.show_social_share.label",
      "info": "t:sections.password-section.settings.show_social_share.info",
      "default": true
    }
  ]
}
{% endschema %}
